html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/****^^^^^*********************Myers Reset***********^^^^***************/
body {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 100;
  color: rgb(139, 138, 138);
  min-height: 100%;
  background-color: white;
}

html {
  height: 100%;
}

/* stop spinning animation for small screens */
@media (min-width: 646px) {
  .floatingletters {
    display: none;
  }
  .absoluteletters {
    position: absolute;
    top: 10%;
    left: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 20px;
    color: black;
  }
  .absoluteletters div {
    opacity: 0;
    align-self: baseline;
    animation: fadeIn 2s linear 1 forwards 0.3s;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .background-img {
    background-image: url(Adam-Monogram.png);
    background-position: right;
    height: 55vh;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    /* width: 100%; */
    opacity: 0.1;
  }

  .slidein {
    animation: slidein 5s ease-in-out 1 forwards,
      pulse 2.1s linear infinite alternate 5s;
  }

  @keyframes pulse {
    0% {
      opacity: 0.6;
    }
    100% {
      opacity: 0.8;
    }
  }

  @keyframes slidein {
    0% {
      transform: translateX(105%);
      opacity: 0;
    }
    50% {
      transform: translateX(-50%);
      opacity: 0.3;
    }
    100% {
      transform: translateX(0%);
      opacity: 0.6;
    }
  }

  p {
    font-size: 0px;
    display: inline-block;
    margin: 1.5rem;
  }
  .slideMenu {
    animation-duration: 2.5s;
    animation-name: slideMenu;
    animation-iteration-count: 1;
    animation-delay: 2.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }

  @keyframes slideMenu {
    0% {
      transform: rotateX(0deg);
      transform: rotateY(0deg);
      transform: rotateZ(0deg);
      font-size: 0px;
      opacity: 0;
    }
    100% {
      transform: rotateX(360deg);
      transform: rotateY(360deg);
      transform: rotateZ(360deg);
      font-size: 40px;
      opacity: 0.4;
    }
  }
}

/*  Different animation for small screens */
@media (max-width: 646px) {
  .absoluteletters {
    display: none;
  }
  .floatingletters {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: black;
  }
  .background-img {
    background-image: url(Adam-Monogram.png);
    background-position: right;
    height: 30vh;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    width: 100%;
  }
  .slidein {
    animation: slidein 2.5s ease-in-out 1 forwards,
      pulse 2.25s linear infinite alternate 2.5s;
  }

  @keyframes pulse {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.4;
    }
  }

  @keyframes slidein {
    0% {
      transform: translateX(150%);
    }

    100% {
      position: center;
    }
  }
  p {
    font-size: 0px;
    display: block;
    margin: 1.5rem;
  }
  .slideMenu {
    animation-duration: 0.75s;
    animation-name: slideMenu;
    animation-iteration-count: 1;
    animation-delay: 0.75s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
  }

  @keyframes slideMenu {
    0% {
      transform: rotateX(0deg);
      font-size: 0px;
      opacity: 0;
    }
    100% {
      transform: rotateX(360deg);
      font-size: 40px;
      opacity: 0.4;
    }
  }
}
